// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// Variables
@import 'utilities/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    color: $black;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: $white;
}

a,
a:hover {
    text-decoration: none;
}

.gap- {
    &1 {
        gap: 4px;
    }

    &2 {
        gap: 8px;
    }

    &3 {
        gap: 16px;
    }

    &4 {
        gap: 24px;
    }

    &5 {
        gap: 48px;
    }
}

//App Style
@import 'components/navbar';
@import 'components/buttons';

@include media-breakpoint-up(lg) {
    .lg\: {
        &p-40 {
            padding: 40px !important;
        }

        &border-right {
            border-right: 1px solid #dee2e6 !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .row {
        margin: 0 !important;
    }
}

// Default for mobile device
.lg\:p-40 {
    padding: 12px;
}

.max-w-max {
    width: max-content;
}

.page-title {
    padding: 24px 0;

    .title {
        font-weight: 600;
        font-size: 40px;
    }

    .subtitle {
        font-size: 16px;
        color: $dark-gray;
        margin-top: 8px;
    }
}

.content-page-wrapper {
    background-color: $cream-white;
    padding: 16px;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;

    .content {
        border: 1px solid $border-gray;
        background-color: $white;

        .section- {
            &title {
                font-size: 20px;
                font-weight: 600;
            }

            &caption {
                font-size: 16px;
                font-weight: 400;
                margin-top: 8px;
            }
        }

        hr {
            color: $mid-gray;
            margin: 24px 0;
        }
    }
}

.statistics {
    .card {
        border-radius: 6px;
        border: 1px solid $border-gray;

        .card-title {
            font-size: 14px;
            font-weight: 400;
            color: $gray;
        }

        .stat-value {
            font-size: 32px;
            font-weight: 500;
            text-align: center;
        }
    }
}

.empty-state-section {
    img {
        margin-bottom: 65px;
    }

    .title {
        font-weight: 500;
        font-size: 24px;
    }

    .caption {
        font-size: 16px;
    }
}

@import 'components/transactions-table';
