// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Inter',
// sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #1f1f1f;
$gray: #8f8f8f;
$dark-gray: #575757;
$mid-gray: #6C757D;
$soft-blue: #3D76E4;
$light-blue: #2E69EF;
$cream-white: #FAFAFA;
$white: #ffffff;
$border-gray: #E4E4E4;
$green-st: #198754;

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;

}

.font-semibold {
    font-weight: 600;

}

.font-bold {
    font-weight: 700;
}
